<div class="container-fuid">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink="" class="nav-link text-white">home</a>
      <a routerLink="calculadora" class="nav-link text-white">Calculadora</a>
      <a routerLink="" class="nav-link text-white">Positivo</a>
      <a routerLink="imc" class="nav-link text-white">Imc</a>
      <a routerLink="cadastro" class="nav-link text-white">Cadastro Pessoa</a>
      <a routerLink="produto" class="nav-link text-white">Cadastro Produto</a> 
    </nav>

  </header>
</div>
<router-outlet></router-outlet>
