<div class="container">
    <div class="row m-5">
      <div class="col">
          <h1>Site Massa</h1>
          <p>Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.
          A população ela precisa da Zona Franca de Manaus, porque na Zona franca de Manaus, não é uma zona de exportação, é uma zona para o Brasil. Portanto ela tem um objetivo, ela evita o desmatamento, que é altamente lucravito. Derrubar arvores da natureza é muito lucrativo!
          </p>
      </div>
      <div class="col">
          <img class="img-fluid" src="https://1.bp.blogspot.com/-ZMeIn2-vXiI/W6_XIzYRSnI/AAAAAAAAAPI/JpT_HdbXqz0NvUZmNiV__mEpQfH1TBlmwCLcBGAs/s320/teamlogo_258.png" alt="">
      </div>

    </div>
</div>
